# Compiled class file
*.class

#Log file
*.Log

# Package files #
*.jar
*.war
*.ear
*.zip

#User defined
PetSociety/nbproject/private/
PetSociety/build/
PetSociety/dist/
PetSociety/PetSociety-ejb/nbproject/private/
PetSociety/PetSociety-ejb/build/
PetSociety/PetSociety/dist/

PetSociety/PetSociety-war/nbproject/private/
PetSociety/PetSociety-war/build/
PetSociety/PetSociety-war/dist/

nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
**/.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/PetSociety-war/nbproject/private/
/PetSociety-ejb/nbproject/private/
/petsocietyreact/nbproject/private/

# generated pdf files from running
*.pdf
