.wrapper {
    color: #26292d
}

.service-display {
    outline: 3px solid grey;
}

.react-datepicker-wrapper, .react-datepicker__input-container { 
    display: block !important; 
} 

.react-datepicker-wrapper .react-datepicker__input-container input { 
    width: 70% 
}
